.jumbotron {
  padding-top: 6rem;
  background-color: #edf4f5;
}

#projects {
  background-color: #edf4f5;
}

section {
  padding-top: 5rem;
}

.btn {
  border-radius: 25px;
}

.form-control {
  border-radius: 25px;
}

.alert {
  border-radius: 25px;
}
